body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(248, 250, 253);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 0 120px;
}

.container h1 {
    margin-bottom: 40px;
}

.header {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid rgba(41, 41, 41, 0.1);
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid rgba(41, 41, 41, 0.1);
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-field {
    width: 50px;
    padding: 0 20px;
}

.large-field {
    width: 170px;
    padding: 0 30px;
    gap: 12px;
}

.left {
    justify-content: flex-start;
    text-align: left;
}

.coinName {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.coinImage {
    max-width: 25px;
    max-height: 25px;
}

.bolded {
    font-weight: 700;
}

.thin {
    font-weight: 200;
}

.search {
    display: flex;
    margin-bottom: 32px;
}

.search input {
    width: 440px;
    border: 1px solid #292929;
    opacity: 0.7;
    border-radius: 4px 0px 0px 4px;
    background: ghostwhite;
    padding: 16px 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;
    background: ghostwhite;
    border: 1px solid #5A5A5A;
    border-radius: 4px;
}

.perPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.perPage select {
    padding: 8px;
    border: 1px solid #5A5A5A;
    border-radius: 4px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon {
    max-width: 25px;
    color: black;
    margin-left: 12px;
}

